
@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');
/*COLOR PALETTE: 
	blu scuro sfondo: #061252
	azzurro: #03D1D0
	granata: #960000
	white
	black (?)
*/

*{
	font-family: 'Jaldi', 'Gill Sans', sans-serif;
	font-weight: 400;
	font-size: 30px;
	padding: 0;
	margin: 0;
	text-decoration: none;
	color: white;
}

/* classi di float: */
.float_left {
	float: left;
}

.float_right {
	float: right;
}

.float_clear {
	clear: both;
}
/* ---------------- */

/* classi su immagini */
img.logo {
	width: 89px;
	height: 85px;
}
/* ---------------- */

body {
	background-color: #061252;
	background-image: linear-gradient(#061252 80%, #03D1D0 );
	background-repeat: no-repeat;
	background-clip: border-box;
}

#wrapper {
	position: relative;
	min-height: 100vh;
	margin: 0 auto;
	/*text-align: center;*/
}

/* --- HEADER --- */
#header {
	position: sticky;
	top: 0;
	height: 142px;
	background-image: linear-gradient(90deg, #960000, #061152);
	z-index: 10000;
	box-sizing: border-box;
}

nav {
	margin-bottom: 32px;
	box-sizing: border-box;
}

nav a {
	font-size: 30px;
	color: #03d1d0;
	padding: 21px;
	margin-bottom: 32px;
	box-sizing: border-box;
}

nav img {
	margin: 25px 60px;
	box-sizing: border-box;
}


nav a:hover {
	font-weight: 700;
	text-shadow: #03d1d0 2px 3px 6px;
}

nav a:active {
	text-decoration: underline;
	font-weight: 700;
	text-shadow: #03d1d0 2px 3px 6px;
}

nav a.current {
	color:#960000;
	font-weight: 700;
	text-shadow: #960000 2px 3px 6px;
}

/* ------- selector ---------- */
#dropdown-position {
	position: absolute;
	top: 20px;
	right: 3%;
	padding: 0;
	box-sizing: border-box;
}

.dropdown {
	position: relative;
	display: inline-block;
	margin: 1px 1px 0 1px;
	box-sizing: border-box;
}

.dropdown:hover {
	position: relative;
	display: inline-block;

	margin: 0;
	box-sizing: border-box;
}

.dropbtn {
	padding: 5px 5px 0;
	cursor: pointer;
	border: none;
	border-radius: 10px;
	background-color: transparent;
}

.dropText {
	width: 100%;
	display: none;
	position: absolute;
	z-index: 1000;
}

.dropText button {
	width: 100%;
	background-color: transparent;
	display: inline-block;
	border: 1px solid white;
	border-radius: 0 0 10px 10px;
	padding-top: 7px;
	box-sizing: border-box;
}

.dropText button:hover {
	/*background-color: #03d1d0;*/
	border: 2px solid white;
	box-sizing: border-box;
}

.dropdown:hover .dropText {
	display: block;
}

.dropdown:hover .dropbtn {
	border: 1px solid white;
	border-radius: 10px 10px 0 0;
	box-sizing: border-box;
}

#dropbtn:hover {
	border: 2px solid white;
	border-radius: 10px 10px 0 0;
	box-sizing: border-box;
}

.tr-selector {
	position: relative;
	bottom: 7px;
}

.dropdown:hover .tr-selector {
	rotate: 180deg;
}
/* ------------------------- */



/* --- CONTENT --- */

.content {
	margin: 0 auto;
	text-align: center;
}

.line {
	background-image: linear-gradient(#960000 #03d1d0);
	height: 7px;
	width: 70vw;
}

#about-me {
	margin: auto; 
	box-sizing: border-box;
}

#aboutMePosition {
	margin: 0 auto;
	box-sizing: border-box;
}

#aboutMePar {
	text-align: left;
	max-width: 50vw; 
	font-size: 26px;
}

#aboutMePar span {
	font-size: 26px;
	font-weight: 700;
	color:#03d1d0;
}

#aboutMePar a {
	text-decoration: underline;
	font-size: 26px;
}

#aboutMePar a:hover {
	font-weight: 700;	
}

#toolbox h1 {
	font-weight: 700;
	font-size: 60px;
	margin: 100px auto 0; 
}

#tb-elements {
	width: 70vw;
	border: 7px solid;
	border-image: linear-gradient(to left, #960000, #03d1d0) 1;
	border-radius: 25px;		/* non funzionerà !! */
	margin: 0 auto 50px;
	/*
	background: linear-gradient(white, white) padding-box,
	linear-gradient(to right, darkblue, darkorchid) border-box;
	border-radius: 50em;
	border: 4px solid transparent;
	*/
	box-sizing: border-box;
}

#toolbox img {
	width: 100px;
	height: 100px;
	margin: 20px 100px;
	box-sizing: border-box;
}

#contacts {
	margin: 0 auto;
	align-items: center;
}

.contacts-logo {
	width: 90px;
	height: 90px;
	float: left;
	margin: 100px 5vw;
	box-sizing: border-box;
}


/* --- FOOTER ---*/

footer #final-note {
	text-align: center;
	color: white;
	font-size: 16px;
	width: 280px;
	margin: 30px auto;
	box-sizing: border-box;
}

footer #final-note a {
	display: inline-block;
	color: white;
	font-size: 16px;
	text-decoration: underline;
}

footer #final-note a:hover {
	color: white;
	font-size: 16px;
	font-weight: 700;
	text-decoration: underline;
}