/*COLOR PALETTE:
	blu scuro sfondo: #061252
	azzurro: #03D1D0
	white
*/

* {
	font-family: 'Roboto', 'Helvetica', sans-serif;
}

.text-blue {
	color: #061252;
}

.bg-blue {
	background-color: #061252;
}

.border-blue {
	--bs-border-opacity: 1;
	border-color: rgba(#06, #12, #52, var(--bs-border-opacity)) !important;
}

.text-aquamarine {
	color: #03D1D0;
}

.bg-aquamarine {
	background-color: #03D1D0;
}

.border-aquamarine {
	border-color: #03D1D0;
}

li a:hover {
	font-weight: 700;
	text-decoration: underline;
}

p.text a {
	text-decoration: none;
}

p.text a:hover {
	text-decoration-thickness: 0.15rem !important;
}

.myMinWidth {
	min-width: inherit;
}

.myDropdownItemHover {
	border: 1px solid transparent;
}

.myDropdownItemHover:hover {
	background-color: #ffffff2f;
	border: 1px solid white;
	border-radius: 0.375rem;
}

#quack {
	font-family: 'Comic Sans MS', 'Roboto', 'Helvetica', sans-serif;
	rotate: 30deg;
}

.card_dimension {
	min-width: 30vh;
	min-height: 30vh;
}

.currentNav {
	text-decoration: underline !important;
}

@media (min-width: 992px) {
	/* large */
	.easterRect {
		width: 12.5rem !important;
		height: 39% !important;
		right: 0.1rem !important
	}
}
@media (min-width: 1200px) {
	/* extra-large */
	.easterRect {
		width: 14rem !important;
		right: 2.2rem !important
	}
}
@media (min-width: 1400px) {
	/* xxl */
	.easterRect {
		width: 14rem !important;
		right: 3.5rem !important
	}
}
