
/*COLOR PALETTE: 
	blu scuro sfondo: #0B0085

*/

*{
	font-family: 'Gill Sans', sans-serif;
	font-weight: 400;
	font-size: 30px;
	padding: 0;
	margin: 0;
	text-decoration: none;
}

/* classi di float: */
.float_left {
	float: left;
}

.float_right {
	float: right;
}

.float_clear {
	clear: both;
}
/* ---------------- */

/* classi su immagini */
img.logo {
	width: 50px;
	height: 50px;
}
/* ---------------- */

body {
	background-color: #0B0085;
}

#wrapper {
	position: relative;
	min-height: 50%;
	width: 85%;
	margin: 0 auto;
	text-align: center;
}

header {
	position: sticky;
	top: 0;
	z-index: 10000;
	height: 150px;
	text-decoration: none;
	background-color: white;
	border-radius: 0 0 20px 20px;
	border: #0B0085 1px solid;
	border-top: none;
	margin-bottom: 20px;
	box-sizing: border-box;
}

header nav {
	margin-top: 70px;
	margin-right: 40px;
	box-sizing: border-box;
}

header nav a {
	color: #0B0085;
	text-align: center;
	text-decoration: none;
	padding: 10px 30px 5px;
	box-sizing: border-box;
}

header nav a:hover {
	text-decoration: underline;
	text-shadow: #6ca9ef 1px 0 3px;
}

#language-selector {
	border-bottom: none;
	text-decoration: none;
	width: 64px;
	height: 30px;
	margin-right: 30px;
	margin-top: 20px;
	box-sizing: border-box;
}

select#LANGUAGE {
	width: 100px;
	border: none;
	color: #0B0085;
}

select#LANGUAGE option[value="ITA"] {
	content: icon ;
	background-image:url("../images/header/ita-flag.png");
	background-repeat: no-repeat;
	background-size: 42px 30px;
}

select#LANGUAGE option[value="ENG"] {
	background-image: url("../images/header/ita-flag.png");
}

#selector-img {
	margin-bottom: 15px;
	box-sizing: border-box;
}

#content {
	color: #0B0085;
	min-height: 50vh;
	background-color: white;
	padding-top: 30px;
	border-radius: 10px;
	box-sizing: border-box;
}

footer {
	position: relative;
	color: white;
	height: 150px;
	border-radius: 20px 20px 0 0;
	border: 1px solid white;
	border-bottom: none;
	margin-top: 20px;
	padding-top: 30px;
	box-sizing: border-box;
}

#footer-contacts {
	margin: 0 auto;
	box-sizing: border-box;
}

#footer-contacts a {
	/*vertical-align: middle;*/
	display: inline-block;
	color: white;
	text-decoration: none;
}

#footer-contacts h3 {
	padding-top: 10px;
	font-size: 20px;
	box-sizing: border-box;
}

#footer-contacts a div{
	margin: 0 60px;
	padding: 10px;
	box-sizing: border-box;
}

#footer-contacts a:hover div h3 {
	text-decoration: underline;
	text-shadow: white 1px 0 3px;
}