.image-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: brightness(0.8);
    background-clip: border-box;
    background-position-y: 60%;
}

.image-bg::before {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.image-bg:hover::before {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)); /* dark overlay */
}

.project-card {
    overflow: hidden !important;
}

#DatID {
    background-position-y: 40% !important;
}

#SofID {
    background-position-y: 48% !important;
}

.projectSkill {
    position: relative;
    display: none;
    left: 30%;
    right: 5%;
}

@media (max-width: 442px) {
    .card-title {
        font-size: calc(1rem + .6vw) !important;
    }

    .card-text {
        font-size: 0.9rem !important;
    }
}

@media (max-width: 990px) {
    .card-title {
        font-size: calc(1rem + .8vw) !important;
    }

    .card-text {
        font-size: 0.95rem !important;
    }
}
