@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.97);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes pulse-click {
    0% { transform: scale(1); }
    50% { transform: scale(0.8); }
    100% { transform: scale(1); }
}

#quacker2  {
    rotate: 10deg;
    cursor: pointer;
}

#quacker1 {
    rotate: 5deg;
    cursor: pointer;
}

#quacker1:hover , #quacker2:hover {
    animation: pulse 1s infinite !important;
}

#quacker1:active , #quacker2:active {
    animation: pulse-click 0.4s linear !important;
}

.skill-card {
    min-width: 3rem;
    min-height: 3rem;
    max-width: 7.5rem;
    max-height: 7.5rem;
    border-radius: 5.5rem;
    object-fit: cover !important;
    overflow: hidden;
    box-sizing: border-box;
}

.skill-card img {
    width: 100%;
    height: auto;
    scale: 90%;
}

.swiper-pagination-bullet {
    transform: translateY(1rem);
    color: #000 !important;
    background: rgba(255, 255, 255, 0.5) !important;
}

.swiper-pagination-bullet-active {
    transform: translateY(1rem);
    color: #fff !important;
    background: rgba(255, 190, 20, 1) !important;
}

.spread-col1 > * , .spread-col2 > *  {
    position: absolute;
    top: 0;
    left: 0;
}

.skillSpread {
    display: none !important;
}

.skillSwiper {
    display: block !important;
}

@media (hover: hover) and (pointer: fine) {
    .skillSpread {
        display: flex !important;
    }

    .spread-col1 > div:nth-child(1) { top: 40%; left: 30%; }
    .spread-col1 > div:nth-child(2) { top: 13%; left: 52%; }
    .spread-col1 > div:nth-child(3) { top: 70%; left: 20%; }
    .spread-col1 > div:nth-child(4) { top: 40%; left: 86%; }
    .spread-col1 > div:nth-child(5) { top: 10%; left: 80%; }
    .spread-col1 > div:nth-child(6) { top: 20%; left: 10%; }
    .spread-col1 > div:nth-child(7) { top: 81%; left: 78%; }
    .spread-col1 > div:nth-child(8) { top: 60%; left: 60%; }

    .spread-col2 > div:nth-child(1) { top: 40%; left: 30%; }
    .spread-col2 > div:nth-child(2) { top: 25%; left: 58%; }
    .spread-col2 > div:nth-child(3) { top: 76%; left: 36%; }
    .spread-col2 > div:nth-child(4) { top: 10%; left: 36%; }
    .spread-col2 > div:nth-child(5) { top: 10%; left: 80%; }
    .spread-col2 > div:nth-child(6) { top: 20%; left: 16%; }
    .spread-col2 > div:nth-child(7) { top: 81%; left: 78%; }
    .spread-col2 > div:nth-child(8) { top: 60%; left: 60%; }

    .skillSwiper {
        display: none !important;
    }
}

@media (max-width: 978px) {
    .skillSpread {
        display: none !important;
    }
    .skillSwiper {
        display: flex !important;
    }
}
