.image-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: brightness(0.8);
    background-clip: border-box;
    background-position-y: 60%;
}

#DatID {
    background-position-y: 40% !important;
}

#SofID {
    background-position-y: 48% !important;
}

.card:hover {
    cursor: pointer;
}

@media (max-width: 442px) {
    .card-title {
        font-size: calc(1rem + .6vw) !important;
    }

    .card-text {
        font-size: 0.9rem !important;
    }
}

@media (max-width: 1100px) {
    .card-title {
        font-size: calc(1rem + .6vw) !important;
    }

    .card-text {
        font-size: 0.95rem !important;
    }
}
