.skill-card {
    min-width: 3rem;
    min-height: 3rem;
    max-width: 5.5rem;
    max-height: 5.5rem;
    border-radius: 5.5rem;
    object-fit: cover !important;
    overflow: hidden;
    box-sizing: border-box;
}

.skill-card img {
    width: 100%;
    height: auto;
    scale: 90%;
}

.swiper-pagination-bullet {
    transform: translateY(1rem);
    color: #000 !important;
    background: rgba(255, 255, 255, 0.5) !important;
}

.swiper-pagination-bullet-active {
    transform: translateY(1rem);
    color: #fff !important;
    background: rgba(255, 190, 20, 1) !important;
}

.skillSpread {
    display: none !important;
}

.skillSwiper {
    display: block !important;
}

@media (hover: hover) and (pointer: fine) {
    .skillSpread {
        display: flex !important;
    }
    .skillSwiper {
        display: none !important;
    }
}