:root {
  font-family: Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --custom-grey0: #C5C5C5;
  --custom-grey1: #A2A2A2;
  --custom-grey2: #717171;
  --custom-grey3: #464646;
}

.bg-grey0 {
  background-color: var(--custom-grey0);
}

.bg-grey1 {
  background-color: var(--custom-grey1);
}

.bg-grey2 {
  background-color: var(--custom-grey2);
}

.bg-grey3 {
  background-color: var(--custom-grey3);
}

.text-grey0 {
  color: var(--custom-grey0);
}

.text-grey1 {
  color: var(--custom-grey1);
}

.text-grey2 {
  color: var(--custom-grey2);
}

.text-grey3 {
  color: var(--custom-grey3);
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #212529;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--custom-grey1);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.img {
    user-select: none;          /* Standard */
    -webkit-user-select: none;  /* Chrome, Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* IE/Edge */
}

.nav-link {
  color: white;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: var(--custom-grey1);
  }
  button {
    background-color: #f9f9f9;
  }
}
